<mat-card class="card-cadastro">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="diariaDeManutencao.dataDia" placeholder="Digite o dia">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="diariaDeManutencao.titulo" placeholder="Digite a cor">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="diariaDeManutencao.emocao" placeholder="Digite o modelo">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="manter()">{{nomeBotaoManutencao}}</button>
    </mat-card-actions>
  </mat-card>
  <app-listagem-diaria></app-listagem-diaria>