<div class="div-login">
    <mat-card class="card-login">
        <mat-card-header class="header-login">
            <h1 class="h1-login">LOGIN</h1>
            <p class="p-login"></p>
        </mat-card-header>
        <mat-card-content class="content-login">
            <mat-form-field appearance="outline" class="field-login">
                <mat-label>Usuário</mat-label>
                <input matInput [(ngModel)]="usuario.user">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-login">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.senha">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button routerLink="/telaprincipal" class="button-login">ENTRAR</button>
            <button mat-raised-button routerLink="/telaprincipal" class="button-login">CADASTRAR</button>
        </mat-card-footer>
    </mat-card>
</div>