<div class="menu-background">
    <button class="titulo" mat-button [matMenuTriggerFor]="menu">Opções</button>
    <mat-menu #menu="matMenu">
        <button routerLink="/telaprincipal/cadastrodiaria" mat-menu-item>Cadastrar meu dia</button>
        <button routerLink="/telaprincipal/listagemdiaria" mat-menu-item>Meu Diário</button>
        <button routerLink="/telaprincipal/tabeladiaria" mat-menu-item>Histórico</button>
        <!-- <button [routerLink]="['estatisticas']" mat-menu-item>Minhas estatísticas</button> -->
    </mat-menu>
</div>