<app-header></app-header>
<app-menu></app-menu>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Posição Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Data Column -->
      <ng-container matColumnDef="dataDia">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.dataDia}} </td>
      </ng-container>
  
      <!-- copos Column -->
      <ng-container matColumnDef="coposDAgua">
        <th mat-header-cell *matHeaderCellDef> Copos de água </th>
        <td mat-cell *matCellDef="let element"> {{element.coposDAgua}} </td>
      </ng-container>

      <!-- exercicios Column -->
      <ng-container matColumnDef="exercicios">
        <th mat-header-cell *matHeaderCellDef> Exercício do dia </th>
        <td mat-cell *matCellDef="let element"> {{element.exercicios}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
<app-footer></app-footer>